/* Banner */
.slider-content {
    .banner-heading,
    .banner-tagline {
        color:white;
        font-weight:bold;
        display:block;
    }
    .banner-heading {
        font-size:40px;
    }
    .banner-tagline {
        font-size:30px;
    }
}
/* End Banners */